public-hoist-pattern[]=sanity
; This is needed for prettier to be able to use the plugin specified by the `@sanity/prettier-config` preset
public-hoist-pattern[]=prettier-plugin-packagejson
prefer-workspace-packages = true
link-workspace-packages = deep
