:root {
  --pt-list-padding: 40px;
}

[role='textbox'] {
  counter-reset: list-level-1 list-level-2 list-level-3 list-level-4
    list-level-5 list-level-6 list-level-7 list-level-8 list-level-9
    list-level-10 list-level-number-1 list-level-number-2 list-level-number-3
    list-level-number-4 list-level-number-5 list-level-number-6
    list-level-number-7 list-level-number-8 list-level-number-9
    list-level-number-10 list-level-bullet-1 list-level-bullet-2
    list-level-bullet-3 list-level-bullet-4 list-level-bullet-5
    list-level-bullet-6 list-level-bullet-7 list-level-bullet-8
    list-level-bullet-9 list-level-bullet-10;
}

[role='textbox'] > :not(.pt-list-item) {
  counter-set: list-level-1 list-level-2 list-level-3 list-level-4 list-level-5
    list-level-6 list-level-7 list-level-8 list-level-9 list-level-10
    list-level-number-1 list-level-number-2 list-level-number-3
    list-level-number-4 list-level-number-5 list-level-number-6
    list-level-number-7 list-level-number-8 list-level-number-9
    list-level-number-10 list-level-bullet-1 list-level-bullet-2
    list-level-bullet-3 list-level-bullet-4 list-level-bullet-5
    list-level-bullet-6 list-level-bullet-7 list-level-bullet-8
    list-level-bullet-9 list-level-bullet-10;
}

[role='textbox'] > .pt-list-item.list-item-number-1 {
  counter-set: list-level-2 list-level-3 list-level-4 list-level-5 list-level-6
    list-level-7 list-level-8 list-level-9 list-level-10 list-level-number-2
    list-level-number-3 list-level-number-4 list-level-number-5
    list-level-number-6 list-level-number-7 list-level-number-8
    list-level-number-9 list-level-number-10 list-level-bullet-2
    list-level-bullet-3 list-level-bullet-4 list-level-bullet-5
    list-level-bullet-6 list-level-bullet-7 list-level-bullet-8
    list-level-bullet-9 list-level-bullet-10;
}
[role='textbox'] > .pt-list-item.list-item-number-2 {
  counter-set: list-level-3 list-level-4 list-level-5 list-level-6 list-level-7
    list-level-8 list-level-9 list-level-10 list-level-number-3
    list-level-number-4 list-level-number-5 list-level-number-6
    list-level-number-7 list-level-number-8 list-level-number-9
    list-level-number-10 list-level-bullet-3 list-level-bullet-4
    list-level-bullet-5 list-level-bullet-6 list-level-bullet-7
    list-level-bullet-8 list-level-bullet-9 list-level-bullet-10;
}
[role='textbox'] > .pt-list-item.list-item-number-2 {
  counter-set: list-level-4 list-level-5 list-level-6 list-level-7 list-level-8
    list-level-9 list-level-10 list-level-number-4 list-level-number-5
    list-level-number-6 list-level-number-7 list-level-number-8
    list-level-number-9 list-level-number-10 list-level-bullet-4
    list-level-bullet-5 list-level-bullet-6 list-level-bullet-7
    list-level-bullet-8 list-level-bullet-9 list-level-bullet-10;
}
[role='textbox'] > .pt-list-item.list-item-number-3 {
  counter-set: list-level-5 list-level-6 list-level-7 list-level-8 list-level-9
    list-level-10 list-level-number-5 list-level-number-6 list-level-number-7
    list-level-number-8 list-level-number-9 list-level-number-10
    list-level-bullet-5 list-level-bullet-6 list-level-bullet-7
    list-level-bullet-8 list-level-bullet-9 list-level-bullet-10;
}
[role='textbox'] > .pt-list-item.list-item-number-4 {
  counter-set: list-level-6 list-level-7 list-level-8 list-level-9 list-level-10
    list-level-number-6 list-level-number-7 list-level-number-8
    list-level-number-9 list-level-number-10 list-level-bullet-6
    list-level-bullet-7 list-level-bullet-8 list-level-bullet-9
    list-level-bullet-10;
}
[role='textbox'] > .pt-list-item.list-item-number-5 {
  counter-set: list-level-7 list-level-8 list-level-9 list-level-10
    list-level-number-7 list-level-number-8 list-level-number-9
    list-level-number-10 list-level-bullet-7 list-level-bullet-8
    list-level-bullet-9 list-level-bullet-10;
}
[role='textbox'] > .pt-list-item.list-item-number-6 {
  counter-set: list-level-8 list-level-9 list-level-10 list-level-number-8
    list-level-number-9 list-level-number-10 list-level-bullet-8
    list-level-bullet-9 list-level-bullet-10;
}
[role='textbox'] > .pt-list-item.list-item-number-7 {
  counter-set: list-level-9 list-level-10 list-level-number-9
    list-level-number-10 list-level-bullet-9 list-level-bullet-10;
}
[role='textbox'] > .pt-list-item.list-item-number-8 {
  counter-set: list-level-10 list-level-number-10 list-level-bullet-10;
}

.pt-list-item {
  position: relative;
}
.pt-list-item:before {
  display: block;
  position: absolute;
  left: 0;
  padding-right: 1em;
  text-align: right;
}
.pt-list-item-bullet:before {
  content: '●';
  padding-right: 2em;
  transform: scale(0.5) translateX(calc(var(--pt-list-padding) * 1 / 2 - 0.1em));
}
.pt-list-item-number:before {
  content: counter(list-level-number-1) '.';
}

.pt-list-item-level-1 {
  padding-left: calc(var(--pt-list-padding) * 1);
  counter-increment: list-level-1;
}
.pt-list-item-level-1:before {
  width: calc(var(--pt-list-padding) * 1);
}
.pt-list-item-number.pt-list-item-level-1 {
  counter-increment: list-level-number-1;
}
.pt-list-item-bullet.pt-list-item-level-1 {
  counter-increment: list-level-bullet-1;
}

.pt-list-item-level-2 {
  padding-left: calc(var(--pt-list-padding) * 2);
  counter-increment: list-level-2;
}
.pt-list-item-level-2:before {
  width: calc(var(--pt-list-padding) * 2);
}
.pt-list-item-number.pt-list-item-level-2 {
  counter-increment: list-level-number-2;
}
.pt-list-item-bullet.pt-list-item-level-2 {
  counter-increment: list-level-bullet-2;
}
.pt-list-item-number.pt-list-item-level-2:before {
  content: counter(list-level-number-2) '.';
}
.pt-list-item-bullet.pt-list-item-level-2:before {
  content: '○';
  transform: scale(0.5) translateX(calc(var(--pt-list-padding) * 2 / 2 - 0.1em));
}

.pt-list-item-level-3 {
  padding-left: calc(var(--pt-list-padding) * 3);
  counter-increment: list-level-3;
}
.pt-list-item-level-3:before {
  width: calc(var(--pt-list-padding) * 3);
}
.pt-list-item-number.pt-list-item-level-3 {
  counter-increment: list-level-number-3;
}
.pt-list-item-bullet.pt-list-item-level-3 {
  counter-increment: list-level-bullet-3;
}
.pt-list-item-number.pt-list-item-level-3:before {
  content: counter(list-level-number-3) '.';
}
.pt-list-item-bullet.pt-list-item-level-3:before {
  content: '■';
  transform: scale(0.5) translateX(calc(var(--pt-list-padding) * 3 / 2 - 0.1em));
}

.pt-list-item-level-4 {
  padding-left: calc(var(--pt-list-padding) * 4);
  counter-increment: list-level-4;
}
.pt-list-item-level-4:before {
  width: calc(var(--pt-list-padding) * 4);
}
.pt-list-item-number.pt-list-item-level-4 {
  counter-increment: list-level-number-4;
}
.pt-list-item-bullet.pt-list-item-level-4 {
  counter-increment: list-level-bullet-4;
}
.pt-list-item-number.pt-list-item-level-4:before {
  content: counter(list-level-number-4) '.';
}
.pt-list-item-bullet.pt-list-item-level-4:before {
  content: '■';
  transform: scale(0.5) translateX(calc(var(--pt-list-padding) * 4 / 2 - 0.1em));
}

.pt-list-item-level-5 {
  padding-left: calc(var(--pt-list-padding) * 5);
  counter-increment: list-level-5;
}
.pt-list-item-level-5:before {
  width: calc(var(--pt-list-padding) * 5);
}
.pt-list-item-number.pt-list-item-level-5 {
  counter-increment: list-level-number-5;
}
.pt-list-item-bullet.pt-list-item-level-5 {
  counter-increment: list-level-bullet-5;
}
.pt-list-item-number.pt-list-item-level-5:before {
  content: counter(list-level-number-5) '.';
}
.pt-list-item-bullet.pt-list-item-level-5:before {
  content: '■';
  transform: scale(0.5) translateX(calc(var(--pt-list-padding) * 5 / 2 - 0.1em));
}

.pt-list-item-level-6 {
  padding-left: calc(var(--pt-list-padding) * 6);
  counter-increment: list-level-6;
}
.pt-list-item-level-6:before {
  width: calc(var(--pt-list-padding) * 6);
}
.pt-list-item-number.pt-list-item-level-6 {
  counter-increment: list-level-number-6;
}
.pt-list-item-bullet.pt-list-item-level-6 {
  counter-increment: list-level-bullet-6;
}
.pt-list-item-number.pt-list-item-level-6:before {
  content: counter(list-level-number-6) '.';
}
.pt-list-item-bullet.pt-list-item-level-6:before {
  content: '■';
  transform: scale(0.5) translateX(calc(var(--pt-list-padding) * 6 / 2 - 0.1em));
}

.pt-list-item-level-7 {
  padding-left: calc(var(--pt-list-padding) * 7);
  counter-increment: list-level-7;
}
.pt-list-item-level-7:before {
  width: calc(var(--pt-list-padding) * 7);
}
.pt-list-item-number.pt-list-item-level-7 {
  counter-increment: list-level-number-7;
}
.pt-list-item-bullet.pt-list-item-level-7 {
  counter-increment: list-level-bullet-7;
}
.pt-list-item-number.pt-list-item-level-7:before {
  content: counter(list-level-number-7) '.';
}
.pt-list-item-bullet.pt-list-item-level-7:before {
  content: '■';
  transform: scale(0.5) translateX(calc(var(--pt-list-padding) * 7 / 2 - 0.1em));
}

.pt-list-item-level-8 {
  padding-left: calc(var(--pt-list-padding) * 8);
  counter-increment: list-level-8;
}
.pt-list-item-level-8:before {
  width: calc(var(--pt-list-padding) * 8);
}
.pt-list-item-number.pt-list-item-level-8 {
  counter-increment: list-level-number-8;
}
.pt-list-item-bullet.pt-list-item-level-8 {
  counter-increment: list-level-bullet-8;
}
.pt-list-item-number.pt-list-item-level-8:before {
  content: counter(list-level-number-8) '.';
}
.pt-list-item-bullet.pt-list-item-level-8:before {
  content: '■';
  transform: scale(0.5) translateX(calc(var(--pt-list-padding) * 8 / 2 - 0.1em));
}

.pt-list-item-level-9 {
  padding-left: calc(var(--pt-list-padding) * 9);
  counter-increment: list-level-9;
}
.pt-list-item-level-9:before {
  width: calc(var(--pt-list-padding) * 9);
}
.pt-list-item-number.pt-list-item-level-9 {
  counter-increment: list-level-number-9;
}
.pt-list-item-bullet.pt-list-item-level-9 {
  counter-increment: list-level-bullet-9;
}
.pt-list-item-number.pt-list-item-level-9:before {
  content: counter(list-level-number-9) '.';
}
.pt-list-item-bullet.pt-list-item-level-9:before {
  content: '■';
  transform: scale(0.5) translateX(calc(var(--pt-list-padding) * 9 / 2 - 0.1em));
}

.pt-list-item-level-10 {
  padding-left: calc(var(--pt-list-padding) * 10);
  counter-increment: list-level-10;
}
.pt-list-item-level-10:before {
  width: calc(var(--pt-list-padding) * 10);
}
.pt-list-item-number.pt-list-item-level-10 {
  counter-increment: list-level-number-10;
}
.pt-list-item-bullet.pt-list-item-level-10 {
  counter-increment: list-level-bullet-10;
}
.pt-list-item-number.pt-list-item-level-10:before {
  content: counter(list-level-number-10) '.';
}
.pt-list-item-bullet.pt-list-item-level-10:before {
  content: '■';
  transform: scale(0.5)
    translateX(calc(var(--pt-list-padding) * 10 / 2 - 0.1em));
}
