[role='textbox'] {
  --list-padding: 1em;
  /**
   * First, we initialize a counter for each block level.
   */
  counter-reset: level-1 level-2 level-3 level-4 level-5 level-6 level-7 level-8
    level-9 level-10;
}

[data-list-item] {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 0.5rem;
}
[data-list-item]::before {
  text-align: right;
  grid-column: 1;
}

[data-list-item='number'] {
  align-items: baseline;
}
[data-list-item='number']::before {
  font-size: 0.9rem;
  font-variant-numeric: tabular-nums;
}

[data-list-item='bullet'] {
  align-items: center;
}
[data-list-item='bullet']::before {
  font-size: 0.4rem;
}

/**
 * Then, the counter for each level is manually set to 1 whenever a list item
 * with index 1 is encountered.
 */
[data-level='1'][data-list-index='1'] {
  counter-set: level-1 1;
}
[data-level='2'][data-list-index='1'] {
  counter-set: level-2 1;
}
[data-level='3'][data-list-index='1'] {
  counter-set: level-3 1;
}
[data-level='4'][data-list-index='1'] {
  counter-set: level-4 1;
}
[data-level='5'][data-list-index='1'] {
  counter-set: level-5 1;
}
[data-level='6'][data-list-index='1'] {
  counter-set: level-6 1;
}
[data-level='7'][data-list-index='1'] {
  counter-set: level-7 1;
}
[data-level='8'][data-list-index='1'] {
  counter-set: level-8 1;
}
[data-level='9'][data-list-index='1'] {
  counter-set: level-9 1;
}
[data-level='10'][data-list-index='1'] {
  counter-set: level-10 1;
}

/**
 * Thereafter, the count for each list level is incremented for each index
 * greater than 1.
 */
[data-level='1']:not([data-list-index='1']) {
  counter-increment: level-1;
}
[data-level='2']:not([data-list-index='1']) {
  counter-increment: level-2;
}
[data-level='3']:not([data-list-index='1']) {
  counter-increment: level-3;
}
[data-level='4']:not([data-list-index='1']) {
  counter-increment: level-4;
}
[data-level='5']:not([data-list-index='1']) {
  counter-increment: level-5;
}
[data-level='6']:not([data-list-index='1']) {
  counter-increment: level-6;
}
[data-level='7']:not([data-list-index='1']) {
  counter-increment: level-7;
}
[data-level='8']:not([data-list-index='1']) {
  counter-increment: level-8;
}
[data-level='9']:not([data-list-index='1']) {
  counter-increment: level-9;
}
[data-level='10']:not([data-list-index='1']) {
  counter-increment: level-10;
}

/**
 * Finally, the calculated count is displayed in the list item.
 */
[data-list-item='number'][data-level='1']::before {
  content: counter(level-1, decimal) '.';
}
[data-list-item='number'][data-level='2']::before {
  content: counter(level-2, lower-alpha) '.';
}
[data-list-item='number'][data-level='3']::before {
  content: counter(level-3, lower-roman) '.';
}
[data-list-item='number'][data-level='4']::before {
  content: counter(level-4, decimal) '.';
}
[data-list-item='number'][data-level='5']::before {
  content: counter(level-5, lower-alpha) '.';
}
[data-list-item='number'][data-level='6']::before {
  content: counter(level-6, lower-roman) '.';
}
[data-list-item='number'][data-level='7']::before {
  content: counter(level-7, decimal) '.';
}
[data-list-item='number'][data-level='8']::before {
  content: counter(level-8, lower-alpha) '.';
}
[data-list-item='number'][data-level='9']::before {
  content: counter(level-9, lower-roman) '.';
}
[data-list-item='number'][data-level='10']::before {
  content: counter(level-10, decimal) '.';
}

/**
 * Visual display of bulleted list items
 */
[data-list-item='bullet'][data-level='1']::before,
[data-list-item='bullet'][data-level='4']::before,
[data-list-item='bullet'][data-level='7']::before,
[data-list-item='bullet'][data-level='10']::before {
  content: '●';
}
[data-list-item='bullet'][data-level='2']::before,
[data-list-item='bullet'][data-level='5']::before,
[data-list-item='bullet'][data-level='8']::before {
  content: '○';
}
[data-list-item='bullet'][data-level='3']::before,
[data-list-item='bullet'][data-level='6']::before,
[data-list-item='bullet'][data-level='9']::before {
  content: '■';
}

/**
 * Padding for each level of list item
 */
[data-level='2'] {
  padding-left: calc(var(--list-padding));
}
[data-level='3'] {
  padding-left: calc(var(--list-padding) * 2);
}
[data-level='4'] {
  padding-left: calc(var(--list-padding) * 3);
}
[data-level='5'] {
  padding-left: calc(var(--list-padding) * 4);
}
[data-level='6'] {
  padding-left: calc(var(--list-padding) * 5);
}
[data-level='7'] {
  padding-left: calc(var(--list-padding) * 6);
}
[data-level='8'] {
  padding-left: calc(var(--list-padding) * 7);
}
[data-level='9'] {
  padding-left: calc(var(--list-padding) * 8);
}
[data-level='10'] {
  padding-left: calc(var(--list-padding) * 9);
}
